mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			.row
				.col-auto.d-md-block.d-none
					a(href="/")
						img(src="img/svg/logo-foot.svg", alt="")
				.col
					+mnu()

					+e.copy.d-none.d-md-block (c) PlanDo 2020-2021 
				.col-auto.text-right.order-md-0.order-last
					a.btn.btn-outline-l.mb-3(href="#") Далее
						+icon('arrow-r')
					br
					a.btn.btn-white(href="#") Назад
				.col-auto
					+soc()
				.w-100.d-md-none
				.col.d-md-none.align-self-center
					+e.copy (c) PlanDo 2020-2021 