mixin sBasket()
	// start sBasket
	+b.SECTION.sBasket.section#sBasket&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Ваш заказ
			-
				const items = [
					{
						i:'step-1-2.png',
						t:'Обложка "Light blue"',
						count:'13',
						pr:"430 ₽"
					},
					
					{
						i:'step-2-1.png',
						t:'Название блока, пример в две строки',
						count:'13',
						pr:"5 590 ₽"
					},
					{
						i:'step-2-1.png',
						t:'Обложка "Light blue"',
						count:'13',
						pr:"430 ₽",
						 
					},
					{
						i:'step-2-1.png',
						t:'Обложка "Light blue"',
						count:'1',
						pr:"430 ₽",
						 
					},

				]
			each item in items
				+e.item
					+e.img-wrap(hrerf="#")
						+pic(item.i)
					.row
						+e.title.col-md= item.t
						.col-auto
							+b.add-block
								input(type="text" value= item.count)
								+e.btn--plus
								+e.btn--minus
						+e.price.col-auto= item.pr 
					+e.close
						+icon("close")
			+e.total
				.row.h5.fw-300
					.col Товары: 
						span.ml-2.h6 4 шт.
					.col-auto 6 450 ₽
					
				.row.h5.fw-300
					.col Доставка:
					.col-auto 1 000 ₽
				br
				.row.h4.fw-600
					.col Итого:
					.col-auto 7 450 ₽
			+e.btn(href="#") Оформить заказ
	// end sBasket