extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sStepNav/_sStepNav.pug
include ../blocks/sSteps/_sSteps.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent

	//- +mob-mnu()
	+top-nav()
	//- +headerBlock03()
	+sContent
		h2.mb-30 Наши контакты:
		ul.verticalList
			li
				img(src="img/svg/paw.svg" alt="")
				+e.title Телефон: 
				+e.text.tel-color(href="tel:+375293333333") + 375 29 333 33 33
			li
				+e.icon-wrap: img(src="img/svg/paw.svg" alt="")
				+e.title E-mail: 
				+e.text.mail-color(href="mailto:blablaplando@gmail.com") blablaplando@gmail.com
			li
				+e.icon-wrap: img(src="img/svg/paw.svg" alt="")
				+e.title Адрес: 
				+e.text ул Бульдожика 12, корп 2

		h2.mb-40 Оплата и&nbsp;доставка, допустим
		h4 Пункт 1
		p.mb-45 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar turpis mi ac id aliquam. Non nec arcu pellentesque eleifend egestas turpis fames. Amet velit, volutpat fermentum nibh auctor nec. Egestas mi nullam sed ridiculus leo risus. Et maecenas suscipit dolor tempus diam orci at.

		h4 Пункт 2
		p.mb-45 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar turpis mi ac id aliquam. Non nec arcu pellentesque eleifend egestas turpis fames. Amet velit, volutpat fermentum nibh auctor nec. Egestas mi nullam sed ridiculus leo risus. Et maecenas suscipit dolor tempus diam orci at.

		h4 Горизонтальный список:
		UL.horizontalList
			li Какой-то элемент списка
			li Второй элемент списка
			li Третий элемент списка
			li Четвертый элемент списка
		
		h2.mb-25 Еще большой заголовок
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar turpis mi ac id aliquam. Non nec arcu pellentesque eleifend egestas turpis fames. Amet velit, volutpat fermentum nibh auctor nec. Egestas mi nullam sed ridiculus leo risus. Et maecenas suscipit dolor tempus diam orci at.
		//- br
		p Purus rutrum ultricies blandit blandit parturient donec magna. Tincidunt diam quam tortor, volutpat amet convallis risus. Ridiculus nulla in purus mauris sit sit elementum interdum. 
	+footer()


	