extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sStepNav/_sStepNav.pug
include ../blocks/sSteps/_sSteps.pug
include ../blocks/sOrder/_sOrder.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Оформление заказа'
	title= title
block pagecontent

	//- +mob-mnu()
	+top-nav()
	//- +headerBlock03()

	+sOrder()
	+footer()


	