	// start .sContent
.sContent {

	@include media-breakpoint-up(md){
		--sPT: #{rem(106)};
		--sPB: #{rem(96)};
	}
	@include media-breakpoint-up(sm){
		--sPT: #{rem(57)};
		--sPB: #{rem(90)};
	}
	--sPT: #{rem(38)};
	--sPB: #{rem(40)};

	h2,
	h4{
		@include media-breakpoint-down(sm){
			font-size: rem(18);
		}
		font-weight: 600;
	}
	h4{
		margin-bottom: rem(25);
	}

	&__title{
		font-weight: 300;
		@include media-breakpoint-up(sm){
			font-size: rem(18);
			line-height: (29 / 18);
		}
		font-size: rem(16);
		line-height: (29 / 16);
		opacity: 0.8;
	}

	ul{
		list-style-type: none;
		@include media-breakpoint-up(sm){
			margin-bottom: rem(81);
		}
		margin-bottom: rem(40);
	}
	
	.verticalList{
		li{
			display: flex;
			@include media-breakpoint-up(sm){
				align-items: center;
			}
			margin-bottom: rem(8);
			.sContent__text{
				font-weight: 400;
				margin-left: rem(5);
				@include media-breakpoint-up(sm){
					font-size: rem(20);
					line-height: (23 / 20);
				}
				font-size: rem(18);
				line-height: (29 / 18);
			}
			.tel-color{
				color: $body-color;
			}
			.mail-color{
				color: #3FA5AA;
			}
		}
	}

	img{
		@include media-breakpoint-up(sm){
		margin-right: rem(13);
		}
		margin-right: rem(6);
	}

	.horizontalList{

		@include media-breakpoint-up(xl){
			columns: 4;
		}
		@include media-breakpoint-up(md){
			columns: 2;
		}
		li{
			// display: block;
			position: relative;
			padding-left: rem(13);
			&:before{
				content: '';
				position: absolute;
				width: rem(8);
				height: rem(8);
				background-color: #3FA5AA;
				border-radius: 50%;
				left: 0;
				top: rem(8);
			}
		}
	}

	p{
		font-weight: 300;
		@include media-breakpoint-up(sm){
			font-size: rem(18);
		}
		font-size: rem(16);
		line-height: (29 / 18);
		opacity: 0.8;
		max-width: rem(1070);
		// margin-bottom: 50px;
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContent