mixin sSteps(data)
	// start sSteps
	+b.SECTION.sSteps.section#sSteps&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 #[span.text-primary Шаг 1:] Выбери обложку
				
			.row
				mixin item(i,t)
					.col-lg-4.col-sm-6
						+b.step-item
							+e.img-wrap(href="#")
								+pic(`step-1-${i}.png`,'',0)
							+e.title= t
							+e.btn(href="#") Выбрать
							a.link(href="#") Подробнее
					// /.col-lg-4.col-sm-6
				+item('1', 'Обложка "Light blue"')
				+item('2', 'Обложка "Light blue" тут пример на две строки')
				+item('3', 'Обложка "Light blue"')
				+item('3', 'Обложка "Light blue"')
				+item('1', 'Обложка "Light blue"')
				+item('2', 'Обложка "Light blue" тут пример  ')
				+item('2', 'Обложка "Light blue" тут пример на две строки')
				+item('3', 'Обложка "Light blue"')
				+item('3', 'Обложка "Light blue"')
	// end sSteps
mixin sSteps2(data)
	// start sSteps
	+b.SECTION.sSteps.section#sSteps&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 #[span.text-primary Шаг 2:]  Выбери интерактивный блок
				
			.row
				mixin item()
					.col-lg-4.col-sm-6
						+b.step-item
							+e.img-wrap(href="#")
								+pic(`step-2-1.png`,'',0)(class='bsh-none')
							+e.title Блок “Антилень”
							+e.btn(href="#") Выбрать
							a.link(href="#") Подробнее
					// /.col-lg-4.col-sm-6
				- for (var x = 0; x < 6; x++)
					+item('1', 'Обложка "Light blue"') 
	// end sSteps


mixin sSteps-03(data)
	// start sSteps
	+b.SECTION.sSteps--03.section#sSteps&attributes(attributes)
		.container
			+b.step-item--03
				+e.img-wrap--03
					+pic(`product-1.png`,'',0)
				+e.btn.btn-mint(href="#") Выбрать
			h4 Детали обложки
			p Обложка из плотного пластика, которая не рвется и не пачкается, пружинный переплет.


mixin sSteps-03-2(data)
	// start sSteps
	+b.SECTION.sSteps--03.section#sSteps&attributes(attributes)
		.container
			+b.step-item--03.d-block
				+e.slider-wrap
					+arrow
					+e.slider--js.swiper-container
						.swiper-wrapper
							- for (var x = 0; x < 3; x++)
								+e.slide.swiper-slide
									a(href="img/@2x/product-2.png" data-fancybox="gal").d-block
										img.res-i.swiper-lazy(src="#" data-src="img/@2x/product-2.png", alt="")
				.swiper-pagination
				+e.btn.btn-mint(href="#") Выбрать
			+e.wrap
				h4 Описание блока “Антилень”
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar turpis mi ac id aliquam. Non nec arcu pellentesque eleifend egestas turpis fames. Amet velit, volutpat fermentum nibh auctor nec. Egestas mi nullam sed ridiculus leo risus. Et maecenas suscipit dolor tempus diam orci at.
				p Purus rutrum ultricies blandit blandit parturient donec magna. Tincidunt diam quam tortor, volutpat amet convallis risus. Ridiculus nulla in purus mauris sit sit elementum interdum. Condimentum eget scelerisque cursus eget curabitur pharetra. Quam ut lacus, in nisi, interdum euismod mauris, dignissim erat. Amet fringilla vitae facilisis felis donec. Porttitor nec, rhoncus, nunc non. Habitasse ipsum leo morbi dolor, parturient odio eget  morbi nunc.
				br
				br
				h4 Чем полезен блок “Антилень” 
				+b.video-wrap
					<iframe width="560" height="315" src="https://www.youtube.com/embed/mbcP3Oc0PjU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				h4 Еще один заголовок
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar turpis mi ac id aliquam. Non nec arcu pellentesque eleifend egestas turpis fames. Amet velit, volutpat fermentum nibh auctor nec. Egestas mi nullam sed ridiculus leo risus. Et maecenas suscipit dolor tempus diam orci at.
				p Purus rutrum ultricies blandit blandit parturient donec magna. Tincidunt diam quam tortor, volutpat amet convallis risus. Ridiculus nulla in purus mauris sit sit elementum interdum.