
	// start .sSteps
	.sSteps {
		--sPT:0;


		&--03{
			@include media-breakpoint-up(md){
				--sPT: #{rem(80)};
				--sPB: #{rem(100)};
			}
			--sPT: #{rem(50)};
			--sPB: #{rem(40)};
		}
		p{
			font-weight: 300;
			font-size: rem(18);
			line-height: (29 / 18);
		}
		h4{
			font-weight: 600;
			line-height: (28 / 24);
			margin-bottom: rem(27);
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sSteps

.step-item{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	--mb: #{rem(80)};
	min-height: calc(100% - var(--mb) );
	margin-bottom: var(--mb);
	&--03{
		--mb: #{rem(50)};
		margin-bottom: var(--mb);
	}
	picture{
		position: relative;
		// display: block;
		display: inline-block;
		&::after{
			content: '';
			@include a-cent;
			width: 100%;
			height: 100%;
			z-index: -1;
			box-shadow:  15px 10px 25px rgba(74, 70, 66, 0.15);
		}
	}
	&__img-wrap{
		margin-bottom: rem(18);
		&--03{
			margin-bottom: 52px;
		}
	}
	&__title{
		margin-bottom: rem(17);
		margin-left: auto;
		margin-right: auto;
		max-width: rem(300);
		font-size: rem(18);
	}
	&__btn{
		margin-top: auto;
		@extend .btn;
		@extend .btn-outline;
		width: rem(190);
		margin-bottom: rem(10);
	}
}