mixin sPage404(data)
	// start sPage404
	+b.sPage404.section#sPage404&attributes(attributes)
		.container
			+e.item
				+e.img-wrap
					img.res-i(src="img/svg/404.svg", alt="")
				h4 Упс, что-то пошло не&nbsp;так.
				p Страница, которую вы&nbsp;запрашиваете, не&nbsp;существует.
				
	// end sPage404