mixin sThanks(data)
	// start sThanks
	+b.sThanks.section#sThanks&attributes(attributes)
		.container
			+e.img-wrap.text-center
				img.res-i(src="img/svg/dog.svg", alt="")
			+e.text-block
				h1 Спасибо за заказ!
				+e.text Ваш заказ успешно оформлен.
				+e.text На&nbsp;ваш E-mail будут приходить уведомления о&nbsp;статусе заказа.
			.text-center
				+e.btn(href="#") На главную
				
	// end sThanks