	// start .sThanks
.sThanks {
		 
	@include media-breakpoint-up(md){
		--sPT: #{rem(148)};
		--sPB: #{rem(200)};
	}
	@include media-breakpoint-up(md){
		--sPT: #{rem(140)};
		--sPB: #{rem(180)};
	}
	--sPT: #{rem(50)};
	--sPB: #{rem(50)};
	h1{
		font-weight: bold;
		line-height: (75 / 64);
		color: #3FA5AA;
		margin-bottom: rem(20);
	}

	&__img-wrap{
		margin-bottom: rem(-7);
	}

	&__text-block{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: rem(35);
	}
	&__text{
		font-weight: 300;
		@include media-breakpoint-up(sm){
			font-size: rem(18);
		}
		font-size: $em-base;
		line-height: (29 / 18);
		opacity: 0.8;
	}

	&__btn{
		@extend .btn;
		@extend .btn-outline;
		width: rem(190);
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sThanks