 
	  
.soc{
	margin: 0 rem(-5px);
	display: flex;
	&__item{
		text-decoration: none !important;
		margin: 0 rem(5px);
		vertical-align: middle;
		@include mt;
		display: block;
		// @extend .btn-outline-l;
		background: rgba(255, 255, 255, 0.07);
		border: 1px solid rgba(255, 255, 255, 0.5);
		box-sizing: border-box;
		border-radius: 10px;
		height: rem(47);
		width: rem(47);
		display: flex;
		justify-content: center;
		align-items: center; 
		color: #ffffff !important; 
		&:hover{
			background: rgba(255, 255, 255, 0.15);
			border: 1px solid rgba(255, 255, 255, 0.6);
		}
		&:active{
			background: rgba(255, 255, 255, 0.07);
			border: 1px solid rgba(255, 255, 255, 0.5);
		}
	}
	.icon{
	font-size: rem(22);
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.form-control{
	box-shadow: none !important;
}